.row.hero{class: "#{@page_data[:current_page]==1 ? 'homepage-override' : ''}"}

  .col-xs-12
    .row
      .col-xs-3.transPanel

      .col-xs-6.visitorForm
        %h1
          Tell us about yourself
          %h3
            We will pair you with the right expert based on the information you provide.

            .row

        =form_for :visitor, :url => { :controller => "visitors", :method => "post"} do |f|
          .form-group
            = f.label 'Name'
            = f.text_field :firstname, :placeholder => "First Name"

          .form-group
            = f.text_field :lastname, :placeholder => "Last Name"

          .form-group
            = f.label :phone, 'Contact Information'
            = f.text_field :phone, :placeholder => "Phone Number"

          .form-group
            = f.text_field :email, :placeholder => "Email"

          .form-group
            = f.label :zip
            = f.text_field :zip, :placeholder => "e.g. 94108"

          .form-group
            = f.label :language
            = f.select :visitor, :language, [['English', 1], ['Spanish', 2], ['French', 3], ['Mandarin', 4]]
            = f.submit "Submit" 

      .col-xs-3.transPanel