.row.hero{class: "#{@page_data[:current_page]==1 ? 'homepage-override' : ''}"}
  .formbox{}
    = render partial: "complex_form_1", layout: 'simple_form_layout'


/ Top white bar
.row
  .col-xs-12.topWhiteBar
    .col-xs-4.topWhiteBarEl
      = image_tag "keyboard.png"
      %h3
        Choose the right plan

      %p
        We can recomend plans based on your prescriptions and procedures so you can buy the right plan for   your needs.

    .col-xs-4.topWhiteBarEl
      = image_tag "hands_globe.png"
      %h3
        Non-profit values you can trust

      %p
        We give unbiased advice about health plans because we're interested in the best coverage for you.

    .col-xs-4.topWhiteBarEl
      = image_tag "cash_bag.png"
      %h3
        Financial aid available

      %p
        If you make less than $46,000 per year, you're likely eligible for financial aid. See estimates of   your monthly prescription and copay costs.


/ The pink bar with the soccer image
.row
  .col-xs-12.pinkBar
    .col-xs-4.soccer
      %img.soccer(src="http://www.defencejobs.gov.au/navy/lifestyle/images/img_dragonBoating.jpg")

    .col-xs-8.pinkSection
      %h2
        Getting health insurance is a great defensive move.

      %h2
        Let's work it out as a team.

      %p
        Take comfort in the fact that you'll have a team of people looking out for your health and   protecting you from potentially dying a lot. Most preventative care is free. If you have a primary   care doctor, they will likely be able to see you if you have an emergency.


.row
  .col-xs-12.howItWorksBar
    .row
      .col-xs-4.col-xs-offset-4
        %h2
          How it works


    .row
      .col-xs-4.arrowImg
        %h1
          1

        %h3
          Tell us a little about yourself

        %p
          Tell us about your prescriptions and if you need any big procedures.

      .col-xs-4.arrowImg
        %h1
          2

        %h3
          See your plans

        %p
          Compare the costs of premiums and prescriptions

      .col-xs-4.arrowImg
        %h1
          3

        %h3
          Buy without a hassle

        %p
          Easily purchase online. No phone calls with long wait times.
    .row
      .col-xs-4.col-xs-offset-4
        %h4
          Get covered today

    .row
      .col-xs-4.col-xs-offset-4.searchInstructions
        %h5
          Search for plans with your zip code

    .row
      .col-xs-4.col-xs-offset-4
        = form_for :visitor do |f|
          = f.text_field :zip, :placeholder => "Zipcode, ex., 90210", :class => "zipForm"
          = f.submit "Search plans", :class => "searchPlansButt"

.row
  .col-xs-4.footerBar
    About
    %br
    Contact