/ ASSISTER NEW
.row.hero{class: "#{@page_data[:current_page]==1 ? 'homepage-override' : ''}"}

  .col-xs-12
    .row
      .col-xs-3.transPanel

      .col-xs-6.visitorForm
        %h1
          Tell us about yourself
          %h3
            We will pair you with enrollees based on the information you provide.

          .row
            .col-xs-12.newForm
              = form_for :visitor, :url => { :controller => "visitors", :method => "post"} do |f|
                .row
                  .col-xs-12
                    = f.label 'Name'

                .row
                  .col-xs-6
                    .form-group
                      = f.text_field :firstname, :placeholder => "First Name"
  
                  .col-xs-6
                    .form-group
                      = f.text_field :lastname, :placeholder => "Last Name"
      
                .row
                  .col-xs-12
                    = f.label :phone, 'Contact Information'

                .row
                  .col-xs-6
                    .form-group
                      = f.text_field :phone, :placeholder => "Phone Number"
                  .col-xs-6
                    .form-group
                      = f.text_field :email, :placeholder => "Email"
                .row
                  .col-xs-12
                    = f.label :zip, 'Zip Code'

                .row
                  .col-xs-6
                    .form-group
                      = f.text_field :zip, :placeholder => "e.g. 94108" , :class => "zipField"

                .row
                  .col-xs-6.col-xs-offset-6
                    .form-group
                      = f.submit "Submit", :class => "newPageSubmit" 

//Takes you to next new page

