/ This is the second page in the creation process for new assisters.
/ Contains language choices and other stuff

/ Includes background image and stuff
.row.hero{class: "#{@page_data[:current_page]==1 ? 'homepage-override' : ''}"}

  .col-xs-12
    .row
      .col-xs-3.transPanel

      .col-xs-6.visitorForm
        %h1
          Languages and Certifications

          .row
            .col-xs-12.newForm
              = form_for :visitor, :url => { :controller => "visitors", :method => "post"} do |f|
                .row
                  .col-xs-12.picklang
                    = f.label 'Which languages do you speak?'
                    (Select all that apply)

                .row
                  .col-xs-12
                    .row
                      .col-xs-1
                        = f.check_box :English, :class => "checkbox", inline_label: 'Remember me'

                      .col-xs-2.boxLabel
                        English

                      .col-xs-1
                        = f.check_box :Spanish, :class => "checkbox"

                      .col-xs-2.boxLabel
                        Spanish

                      .col-xs-1
                        = f.check_box :Mandarin, :class => "checkbox"

                      .col-xs-2.boxLabel
                        Mandarin

                    .row
                      .col-xs-1
                        = f.check_box :French, :class => "checkbox"

                      .col-xs-2.boxLabel
                        French

                      .col-xs-1
                        = f.check_box :Vietnamese, :class => "checkbox"

                      .col-xs-2.boxLabel
                        Vietnamese

                      .col-xs-1
                        = f.check_box :Tagalog, :class => "checkbox"

                      .col-xs-2.boxLabel
                        Tagalog

                    .row
                      .col-xs-12
                        .form-group
                          = f.label :addlanguage, 'Additional Languages'
                          (optional)
                          %br
                          = f.text_area :addlanguage, :placeholder => "eg. American Sign Language", :class => "additionalLangBox"

                    .row
                      .col-xs-12
                        .form-group
                          = f.label :documentation, "Documentation"
                          .assisterItalics
                            Please upload a copy of your licence or certification.

                          %br
                          = f.text_field :documentation, :placeholder => ".jpeg, .pdf, or .doc", :class => "uploadDoc"
                          %button.uploadButton.btn
                            Upload

                .row
                  .col-xs-3.col-xs-offset-8
                    .form-group
                      = f.submit "Next", :class => "newPageSubmit newTwoSubmit" 
